<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    
    <div class="container">
        <br>
                <div class="row">
                    <br>
                    <div class="col">
                        <a href="{% url 'colis_create' %}" class="btn btn-lg  btn-primary">Nouveau Colis</a>
              
                    </div>

                    <div class="col">
                        <a href="{% url 'colis_list' %}" class="btn btn-lg  btn-primary">Liste des  Colis</a>
              
                    </div>
                    <div class="col">
                        <a href="{% url 'recherche_colis' %}" class="btn btn-lg  btn-info">Suivi  Colis</a>
                    </div>
                </div>
<br>
        <h2>
            {% if form.instance.pk %}Mise à Jour Etat du Colis{% else %}Enregistrement d'un Nouveau Colis{% endif %} Colis</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.titre.label_tag }}
                        {{ form.titre }}
                    </div>
                  
                </div>

                <div class="form-row">
                   
                    <div class="form-group col-md-12">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.source.label_tag }}
                        {{ form.source }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.destination.label_tag }}
                        {{ form.destination }}
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.proprietaire.label_tag }}
                        {{ form.proprietaire }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.contact.label_tag }}
                        {{ form.contact }}
                    </div>
                </div>
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.etat.label_tag }}
                        {{ form.etat }}
                    </div>
                   
                </div>
            
                <br>
            
                <button class="btn btn-lg btn-success" type="submit">Enregistrer</button>
            </form>
            
        

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>